.extra-top-padding {
    padding-top: 85px;
}

.extra-top-padding-editor {
    padding-top: 145px;
}

.extra-top-margin-editor-navbar {
    margin-top: 62px;
}

.bottom-right {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1;
}